
.texto-sobre p {
    background-image: url('../img/jaime3.png');
    color: #000000;
    font-size:25px;
}

.texto-sobre h2{
    color: #000000;
    background-image: url('../img/jaime3.png');
    font-size:25px;
    margin-top: 10px;
}

.texto-sobre h3 {
    color: #000000;
    text-align: center;
    font-size:40px;
    margin-top: 20px;
}